input {
    keyboard {
        xkb {
            layout "us"
            options "compose:ralt"
        }
        numlock
    }

    mouse {
        accel-profile "flat"
    }

    touchpad {
        dwt
        tap
        natural-scroll
        scroll-factor 0.7
    }
}

output "eDP-1" {
    scale 1.6
    background-color "#000000"
    backdrop-color "#000000"
    // mode "3200x2000"
}


environment {
    DISPLAY ":0"
}

layout {
    gaps 2
    center-focused-column "never"
   
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-gradient from="#8EC07C" to="#689D6A" angle=45
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        urgent-gradient from="#CC241D" to="#9D0006" angle=45
    }


    shadow {
        on
        softness 20
        spread 4
        offset x=0 y=4
        color "#0007"
    }
}


animations {
    slowdown 0.85



    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }


    workspace-switch {
        spring damping-ratio=1.5 stiffness=1000 epsilon=0.00001
    }


    horizontal-view-movement {
        spring damping-ratio=1.5 stiffness=1000 epsilon=0.0001
    }


    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }


}

hotkey-overlay {
    skip-at-startup
}

///////////////////////////////////////////////////////////////////////////////
prefer-no-csd

spawn-at-startup "xwayland-satellite"
spawn-at-startup "mako"
spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f" "before-sleep" "swaylock -f"
spawn-at-startup "nm-applet"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
///////////////////////////////////////////////////////////////////////////////


binds {
    // Keybindings
    //
    // Applications
    // Window Management
    // Workspace Management
    // System & Media

    // Applications
    Super+Return { spawn "alacritty"; }
    Super+Shift+Return { spawn "alacritty" "--command" "bash"; }
    Super+Shift+P { spawn "alacritty" "--command" "htop"; }
    Super+Alt+A { spawn "alacritty" "--command" "cmus"; }
    Super+Space { spawn "fuzzel"; }
    Super+W { spawn "chromium"; }
    Super+Alt+W { spawn "firefox"; }
    Super+E { spawn "dolphin"; }
    Super+Shift+W { spawn "libreoffice"; }
    Super+D { spawn "discord"; }
    Super+Shift+A { spawn "spotify"; }
    Super+Shift+Q { spawn "qbittorrent"; }
    Super+Shift+I { spawn "pavucontrol"; }
    Super+Shift+V { spawn "sh" "-c" "mullvad connect"; }
    Super+Alt+V { spawn "sh" "-c" "mullvad disconnect"; }

    // Window Management
    Super+Q { close-window; }
    Super+Left { focus-column-left; }
    Super+Down { focus-window-down; }
    Super+Up { focus-window-up; }
    Super+Right { focus-column-right; }
    Super+Shift+H { move-column-left; }
    Super+Shift+J { move-window-down; }
    Super+Shift+K { move-window-up; }
    Super+Shift+L { move-column-right; }
    Super+Alt+H { set-column-width "-20"; }
    Super+Alt+L { set-column-width "+20"; }
    Super+Alt+K { set-window-height "-20"; }
    Super+Alt+J { set-window-height "+20"; }
    Super+F { maximize-column; }
    Super+Shift+F { fullscreen-window; }
    Super+V { toggle-window-floating; }

    // Workspace Management
    Super+BracketLeft { focus-workspace-up; }
    Super+BracketRight { focus-workspace-down; }
    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3; }
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }
    Super+6 { focus-workspace 6; }
    Super+7 { focus-workspace 7; }
    Super+8 { focus-workspace 8; }
    Super+9 { focus-workspace 9; }
    Super+0 { focus-workspace 10; }
    Super+Shift+1 { move-column-to-workspace 1; }
    Super+Shift+2 { move-column-to-workspace 2; }
    Super+Shift+3 { move-column-to-workspace 3; }
    Super+Shift+4 { move-column-to-workspace 4; }
    Super+Shift+5 { move-column-to-workspace 5; }
    Super+Shift+6 { move-column-to-workspace 6; }
    Super+Shift+7 { move-column-to-workspace 7; }
    Super+Shift+8 { move-column-to-workspace 8; }
    Super+Shift+9 { move-column-to-workspace 9; }
    Super+Shift+0 { move-column-to-workspace 10; }

    // System & Media
    Super+O repeat=false { toggle-overview; }
    Super+Shift+E { quit; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Super+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Super+Shift+R { spawn "sh" "-c" "killall waybar && waybar"; }
    XF86AudioMute { spawn "pactl" "set-sink-mute" "@DEFAULT_SINK@" "toggle"; }
    XF86AudioLowerVolume { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "-5%"; }
    XF86AudioRaiseVolume { spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "+5%"; }
    XF86MonBrightnessUp { spawn "brightnessctl" "--device=intel_backlight" "set" "+5%"; }
    XF86MonBrightnessDown { spawn "brightnessctl" "--device=intel_backlight" "set" "5%-"; }
    XF86KbdBrightnessUp { spawn "brightnessctl" "--device=asus::kbd_backlight" "set" "+1"; }
    XF86KbdBrightnessDown { spawn "brightnessctl" "--device=asus::kbd_backlight" "set" "1-"; }
    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }
    XF86AudioStop { spawn "playerctl" "stop"; }
    XF86AudioMicMute { spawn "pactl" "set-source-mute" "@DEFAULT_SOURCE@" "toggle"; }
}


///////////////////////////////////////////////////////////////////////


window-rule {
  match app-id="chromium"
  match app-id="chrome"
  match app-id="legcord"
  match app-id="discord"

    scroll-factor 0.4
}


window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    open-maximized true
}




window-rule {
    match app-id="Alacritty"
    open-maximized false
    scroll-factor 0.68

    shadow {
      color "#006a9957"
      softness 10
      spread 6
      draw-behind-window true
    }
}

window-rule {
    match app-id="ghostty"
    open-maximized false
    scroll-factor 0.4

    shadow {
      color "#006a9957"
      softness 10
      spread 6
      draw-behind-window true
    }
}

layer-rule {
    match namespace="^launcher$"

    shadow {
      on
      color "#006a9957"
      softness 10
      spread 4
      draw-behind-window true
    }
}









